process {
    container = 'ubuntu:22.04'
}

trace {
    enabled = true
    file    = "${params.outdir}/logs/trace.txt"
}

docker {
    enabled = true
}

params {
    use_alpha = false
    use_beta  = false
    use_gamma = false
    outdir    = 'results/default'
}

profiles {
    alpha {
        params {
            use_alpha = true
            outdir    = 'results/alpha'
        }
    }

    beta {
        params {
            use_beta = true
            outdir   = 'results/beta'
        }
    }

    gamma {
        params {
            use_gamma = true
            outdir    = 'results/gamma'
        }
    }
}
