process {
    container = '535002863113.dkr.ecr.us-east-1.amazonaws.com/dlay/ubuntu:latest'
}

trace {
    enabled = true
    file    = 'logs/trace.txt'
}

params {
    use_alpha = false
    use_beta  = false
    use_gamma = false
    outdir    = 'results/default'
}

profiles {
    alpha {
        params {
            use_alpha = true
            outdir    = 'results/alpha'
        }
    }

    beta {
        params {
            use_beta = true
            outdir   = 'results/beta'
        }
    }

    gamma {
        params {
            use_gamma = true
            outdir    = 'results/gamma'
        }
    }
}
